body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    font-family:'Courier New', Courier, monospace;
    text-transform: uppercase;
    justify-self: center;
}

h2 {
    font-family:'Courier New', Courier, monospace;
    margin-top: 20px;
    text-decoration: underline;
}

h3 {
    font-family:'Courier New', Courier, monospace;
    font-style: italic;
}

p {
    text-indent: 1.5em;
    line-height: 1.5em;
    font-weight: 400;
}

a {
    text-decoration: none;
    font-weight: 800;
    color: rgb(61, 171, 214);
}

a:hover {
    text-decoration: underline;
}

blockquote {
    background: #eee;
    padding: 10px 20px;
    border-left: 5px solid #0077cc;
    margin: 20px 0;
    font-family: Montserrat;
    font-style: italic;
    font-size: 1.1em;
    line-height: 1.7em;
}

ul {
    padding-left: 20px;
    line-height: 1.8em;
}

pre {
    background: #333;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    color: #FFFF;
    line-height: 1.8em;
}

.highlight {
    background-color: yellow;
    font-weight: bold;
}

.strike {
    text-decoration: line-through;
}

.upper {
    text-transform: uppercase;
}

.stretch {
    letter-spacing: 5px;
}